body {
    background: #ffffff !important;
    position: relative;
}

.wallpaper-wrapper {
    background-image: url('guild-backdrop.jpg') !important;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.ui.container {
    width: 95% !important;
}

.nav {
    border-radius: 0px !important;
    padding: 10px 0 10px 0 !important;
    background-color: #222 !important;
    position: relative;
}

.nav-background {
    background-image: url('black-leather-header.jpg');
    opacity: 0.25;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.ui.fluid.card, .ui.segment {
    background: rgb(213,205,180) !important;
    background: radial-gradient(circle, rgba(213,205,180,0.97) 0%, rgba(179,156,126,0.97) 88%, rgba(149,135,116,0.97) 100%) !important;
    box-shadow: 5px 5px 15px #222, -5px -5px 15px #222;
    /* background-image: url('parchment-card.jpg');
    background-repeat: no-repeat;
    background-size: cover; */
} 

.ui.fluid.card .content {
    border-top: none !important;
}

.card-header {
    /* display: flex; */
    justify-content: space-between;
}

.card-header .left {
    display: flex;
    align-items: center;
}

.card-header .card-title {
    font-size: 1.3em;
    padding-left: 0.5em;
}

[class*="like-btn"] i {
    padding-left: 10px !important;
}

.comment-box {
    color: black
}

.mb-7 {
    margin-bottom: 7px !important;
}

.mt-5 {
    margin-top: 5px !important;
}

.mymodal {
    height: 300px !important;
    top: 200px !important;
    font-size: 20px !important;
}

.mb-5 {
    margin-bottom: 5px !important;
}

.w-big {
    width: 200px !important;
}

.bwhite-lg {
    background-color: transparent !important;
}

.bwhite-sm {
    background-color: transparent !important;
    width: 10px !important;
}

.comment-box {
    display: none;
}


